test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="positionInformation">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="securityList">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="security">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="calibratedModel">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="rateSwapModel">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:float" name="quantity"/>
                                <xs:element name="receiveLeg">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:int" name="notional"/>
                                      <xs:element type="xs:string" name="currency"/>
                                      <xs:element name="couponDetails">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="fixedCouponDetails">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element type="xs:byte" name="coupon"/>
                                                  <xs:element name="couponFrequency">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="quarterly"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element type="xs:int" name="startDate"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="dayCountBasis">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="dayCount_Act_360"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="discountCurve"/>
                                      <xs:element name="businessDayRule">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="modifiedFollowing"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="holidayList"/>
                                      <xs:element name="amortizationModule">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="payDownScheduleList">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element name="payDownSchedule" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:int" name="paymentDate"/>
                                                        <xs:element type="xs:float" name="principalAmount"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="payLeg">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:int" name="notional"/>
                                      <xs:element type="xs:string" name="currency"/>
                                      <xs:element name="couponDetails">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="floatCouponDetails">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="referenceCurve"/>
                                                  <xs:element type="xs:int" name="startDate"/>
                                                  <xs:element type="xs:byte" name="resetSpread"/>
                                                  <xs:element name="couponFrequency">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="monthly"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="dayCountBasis">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="dayCount_Act_360"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="discountCurve"/>
                                      <xs:element name="businessDayRule">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="modifiedFollowing"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element type="xs:string" name="holidayList"/>
                                      <xs:element name="amortizationModule">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="payDownScheduleList">
                                              <xs:complexType mixed="true">
                                                <xs:sequence>
                                                  <xs:element name="payDownSchedule" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:int" name="paymentDate"/>
                                                        <xs:element type="xs:float" name="principalAmount"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="allowNegativeRates"/>
                                <xs:element type="xs:int" name="maturityDate"/>
                                <xs:element name="overrideInitialExchange">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="forceExchange"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="overrideFinalExchange">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="forceExchange"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="securityType"/>
                    <xs:element name="pricingDataList">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="pricingData">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="pricedSecurityName"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="regulatoryCapitalInformation"/>
                    <xs:element type="xs:string" name="liquidityMetricsInfo"/>
                    <xs:element name="customBucketList">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="customBucket">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="customDimensionName"/>
                                <xs:element type="xs:string" name="customBucketValue"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="holdingGroupList">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="holdingGroup">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="holdingGroupName"/>
                    <xs:element name="customBucketList">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="customBucket" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="customDimensionName"/>
                                <xs:element name="customBucketValue">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="holdingList">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="holding">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="pricedSecurityName"/>
                                <xs:element type="xs:string" name="holdingName"/>
                                <xs:element type="xs:string" name="holdingId"/>
                                <xs:element type="xs:byte" name="amount"/>
                                <xs:element name="transactionTerms">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="valuationEntityName"/>
                                      <xs:element type="xs:string" name="counterpartyEntityName"/>
                                      <xs:element name="nettingSetTermsChoice">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="explicitNettingSetTermsReference">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="bilateralAgreementName"/>
                                                  <xs:element type="xs:string" name="nettingSetTermsName"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="customBucketList">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="customBucket" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="customDimensionName"/>
                                            <xs:element name="customBucketValue">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
